{% extends 'base_layout.html' %}
{% load static from staticfiles %}

{% block content %}
  <form class="clients-link" action="/clients/" method="get">
    {% csrf_token %}
    <button type="submit">View Clients</button>
  </form>
  <h1>Project List</h1>
    <div class="projects">
      {% for project in projects %}
        <div class="project">
          <h2><a href="#">{{project.projectName}}</a></h2>
          <p>{{project.projectStatus}}</p>
        </div>
      {% endfor %}
    </div>
{% endblock %}
